*{
    box-sizing: border-box;
}

header, main {
    background-color: black;
    color: white;
}
header {
    border: 5px solid red;
}
.center{
    text-align: center;
}
.timeAndScore {
    float: right;
}
button {
    color: red;
}

footer {
    list-style-type: none;
    display: inline-block;
}