*{
    box-sizing: border-box;
}

header, main {
    background-color: black;
    color: white;
}
header {
    border: 5px solid red;
}
.center{
    text-align: center;
}
.timeAndScore {
    float: right;
}
div button{
    justify-content: center;
}
#questionContainer{
    display: none;
    text-align: center;
    border: 5px solid red;
}

.answers{
    list-style-type: none;
}
footer {
    list-style-type: none;
    display: inline-block;
}