*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header, main, footer {
    background-color: black;
    color: white;
}
html {
    background-color: black;
}
main{
    text-align: center;
}
.center{
    text-align: center;
}
.timeAndScore {
    float: right;
}
button {
    color: red;
    border-radius: 5px;
}

footer {
    list-style-type: none;
    text-align: center;
}

.question-container{
    padding: 20px;
}
.answerOptions{
    padding: 20px;
}
#startButton{
    margin-bottom: 20px;
}
#initials{
    margin-bottom: 50px;
    display: none;
}
#submitButton{
    color: black;
}